<%-include("./includes/header.ejs")%>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>


<style>
    .cus-card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: 0.3s;
        border-radius: 10px;
        background-color:white ;
    }

    .cus-card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .cus-card-body {
        padding: 20px;
    }

    .cus-card-title {
        margin-bottom: 10px;
    }

    .cus-card-subtitle {
        font-size: 18px;
        color: #666;
        margin-bottom: 15px;
    }

    .cus-card-text {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .cus-card-text:last-child {
        margin-bottom: 0;
    }

    .date-range {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }
</style>



       <!-- Nav Header Component Start -->
       <div class="iq-navbar-header" style="height: 215px;">
        <div class="container-fluid iq-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-wrap d-flex justify-content-between align-items-center">
                        <div>
                            <h1>This is <%=Student.studentFirstName%> <%=Student.studentLastName%></h1>
                            <p>this is how you look to others!🤗💖</p>
                        </div>
                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="iq-header-img">
            <img src="wall4.jpg" alt="header" class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">

        </div>
    </div>          <!-- Nav Header Component End -->
  <!--Nav End-->
</div>
<div class="conatiner-fluid content-inner mt-n5 py-0">
<div class="row">
    <div class="col-lg-12">
       <div class="card">
            <div class="card-body">
               <div class="d-flex flex-wrap align-items-center justify-content-between">
                  <div class="d-flex flex-wrap align-items-center">
                     <div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
                        <img src="/profileImages/<%=Student.profileImage%>" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-100">
                        
                     </div>
                     <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                        <h4 class="me-2 h4"><%=Student.studentFirstName%> <%=Student.studentLastName%></h4>
                        <span> - <%=Student.domains%></span>
                     </div>
                  </div>
                  <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab" id="profile-pills-tab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#workExperience" role="tab" aria-selected="false">Work Experience</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#education" role="tab" aria-selected="false">Education</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#projCert" role="tab" aria-selected="false">Projects & Certifications</a>
                     </li>
                     <!-- <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile-profile" role="tab" aria-selected="false">About <%=Student.studentFirstName%></a>
                     </li> -->
                  </ul>
               </div>
            </div>
       </div>
    </div>
    <div class="col-lg-3">
       <div class="card">
         <div class="card-header">
            <div class="header-title">
               <h4 class="card-title">News</h4>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0 p-0">
               <li class="d-flex mb-2">
                  <div class="news-icon me-3">
                     <svg width="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z" />
                     </svg>
                  </div>
                  <p class="news-detail mb-0">there is a meetup in your city on fryday at 19:00. <a href="#">see details</a></p>
               </li>
               <li class="d-flex">
                  <div class="news-icon me-3">
                     <svg width="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z" />
                     </svg>
                  </div>
                  <p class="news-detail mb-0">20% off coupon on selected items at pharmaprix </p>
               </li>
            </ul>
         </div>
       </div>
       <div class="card">
         <div class="card-header d-flex align-items-center justify-content-between">
            <div class="header-title">
               <h4 class="card-title">Gallery</h4>
            </div>
            <span>132 pics</span>
         </div>
         <div class="card-body">
            <div class="d-grid gap-card grid-cols-3">
               <a data-fslightbox="gallery" href="../../assets/images/icons/04.png">
                  <img src="../../assets/images/icons/04.png" class="img-fluid bg-soft-info rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/shapes/02.png">
                  <img src="../../assets/images/shapes/02.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/icons/08.png">
                  <img src="../../assets/images/icons/08.png" class="img-fluid bg-soft-info rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/shapes/04.png">
                  <img src="../../assets/images/shapes/04.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/icons/02.png">
                  <img src="../../assets/images/icons/02.png" class="img-fluid bg-soft-warning rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/shapes/06.png">
                  <img src="../../assets/images/shapes/06.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/icons/05.png">
                  <img src="../../assets/images/icons/05.png" class="img-fluid bg-soft-danger rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/shapes/04.png">
                  <img src="../../assets/images/shapes/04.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
               </a>
               <a data-fslightbox="gallery" href="../../assets/images/icons/01.png">
                  <img src="../../assets/images/icons/01.png" class="img-fluid bg-soft-success rounded" alt="profile-image">
               </a>
            </div>
         </div>
       </div>
       <div class="card">
         <div class="card-header">
            <div class="header-title">
               <h4 class="card-title">Twitter Feeds</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="twit-feed">
               <div class="d-flex align-items-center mb-2">
                  <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-danger ps-2" src="../../assets/images/icons/03.png" alt="">
                  <div class="media-support-info">
                     <h6 class="mb-0">Figma Community</h6>
                     <p class="mb-0">@figma20 
                        <span class="text-primary">
                           <svg width="15" viewBox="0 0 24 24">
                              <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                           </svg>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="media-support-body">
                  <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                  <div class="d-flex flex-wrap">
                     <a href="#" class="twit-meta-tag pe-2">#Html</a>
                     <a href="#" class="twit-meta-tag pe-2">#Bootstrap</a>
                  </div>
                  <div class="twit-date">07 Jan 2021</div>
               </div>
            </div>
            <hr class="my-4">
            <div class="twit-feed">
               <div class="d-flex align-items-center mb-2">
                  <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-primary" src="../../assets/images/icons/04.png" alt="">
                  <div class="media-support-info">
                     <h6 class="mb-0">Flutter</h6>
                     <p class="mb-0">@jane59
                        <span class="text-primary">
                           <svg width="15" viewBox="0 0 24 24">
                              <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                           </svg>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="media-support-body">
                  <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                  <div class="d-flex flex-wrap">
                     <a href="#" class="twit-meta-tag pe-2">#Js</a>
                     <a href="#" class="twit-meta-tag pe-2">#Bootstrap</a>
                  </div>
                  <div class="twit-date">18 Feb 2021</div>
               </div>
            </div>
            <hr class="my-4">
            <div class="twit-feed">
               <div class="d-flex align-items-center mb-2">
                     <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-warning pt-2" src="../../assets/images/icons/02.png" alt="">
                  <div class="mt-2">
                     <h6 class="mb-0">Blender</h6>
                     <p class="mb-0">@blender59
                        <span class="text-primary">
                           <svg width="15" viewBox="0 0 24 24">
                              <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                           </svg>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="media-support-body">
                  <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                  <div class="d-flex flex-wrap">
                     <a href="#" class="twit-meta-tag pe-2">#Html</a>
                     <a href="#" class="twit-meta-tag pe-2">#CSS</a>
                  </div>
                  <div class="twit-date">15 Mar 2021</div>
               </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-6">
       <div class="profile-content tab-content">
         <div id="workExperience" class="tab-pane fade active show">
            
            <%
                             // Check if Student.dateOfBirth is defined and not null

                                 function convertDate(d) {
                                 // Convert Student.dateOfBirth into a Date object
                                 let dobDate = new Date(d);
                                 // Extract year, month, and day
                                 let year = dobDate.getFullYear();
                                 let month = String(dobDate.getMonth() + 1).padStart(2, '0');
                                 let day = String(dobDate.getDate()).padStart(2, '0');
                                 // Construct the YYYY-MM-DD date format
                                 let dobValue = `${year}-${month}-${day}`;

                                 return dobValue

                                 }
                             %>

            <div class="cus-card">
                <div class="cus-card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="cus-card-title"><%=Student.workExperience[0].title%></h5>
                            <h6 class="cus-card-subtitle mb-2"><%=Student.workExperience[0].company%></h6>
                            <p class="cus-card-text">Locaton: <%=Student.workExperience[0].location%></p>
                            <p class="cus-card-text">Industry: <%=Student.workExperience[0].workIndustry%></p>
                            <p class="cus-card-text">Country: <%=Student.workExperience[0].workCountry%></p>
                        </div>
                        <div class="col-md-4">
                            <p class="date-range"><%=convertDate(Student.workExperience[0].startDate)%> - <%=convertDate(Student.workExperience[0].endDate)%></p>
                        </div>
                    </div>
                    <p class="cus-card-text">Description: <%=Student.workExperience[0].description%></p>
                </div>
            </div>
         </div>
         <div id="education" class="tab-pane fade">
            <div class="card">
               <div class="card-header d-flex justify-content-between">
                  <div class="header-title">
                     <h4 class="card-title">Education</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                     <ul class="list-inline p-0 m-0">
                        <li>
                           <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                           <h6 class="float-left mb-1"><%=Student.education[0].degree%></h6>
                           <h6 class="float-left mb-1">At <%=Student.education[0].school%></h6>
                           <h6 class="float-left mb-1">In <%=Student.education[0].field%></h6>

                           <small class="float-right mt-1">From: <%=convertDate(Student.education[0].educationStartDate)%></small>
                           <small class="float-right mt-1">To: <%=convertDate(Student.education[0].educationEndDate)%></small>

                           <div class="d-inline-block w-100">
                              <p></p>
                           </div>
                        </li>
                      
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div id="projCert" class="tab-pane fade">
            <div class="card">
                <div class="card-body">
                    <h4>Projects</h4>
                </div>
            </div>

            <% if(Student.projects[0].projectName != "") {%>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%=Student.projects[0].projectName%></h5>
                    <p class="card-text">Description: <%=Student.projects[0].projectDescription%></p>
                    <p class="card-text">Associated With: <%=Student.projects[0].associatedWith%></p>
                    <p class="card-text">Start Date: <%=convertDate(Student.projects[0].projectStartDate)%></p>
                    <p class="card-text">End Date: <%=convertDate(Student.projects[0].projectEndDate)%></p>
                </div>
            </div>
        <% } else {%>
            <p> No Projects Added yet </p>
            <% }%>

            <div class="card">
                <div class="card-body">
                <h4>Certificates</h4>
                    </div>
            </div>

            <% if(Student.certificates[0].certificateName != "") {%>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%=Student.certificates[0].certificateName%></h5>
                    <img  class="img-fluid" src="certificates/<%=Student.certificates[0].certificateImage%>" class="certificate-img" alt="Certificate Image">
                    <p class="card-text"><%=Student.certificates[0].certificateDescription%></p>
                </div>
            </div>

            <% } else {%>
                <p> No Certification Added yet </p>
                <% }%>




         </div>
         <!-- <div id="profile-profile" class="tab-pane fade">
            <div class="card">
               <div class="card-header">
                  <div class="header-title">
                     <h4 class="card-title">Profile</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="text-center">
                     <div class="user-profile">
                        <img src="../../assets/images/avatars/01.png" alt="profile-img" class="rounded-pill avatar-130 img-fluid">
                     </div>
                     <div class="mt-3">
                        <h3 class="d-inline-block">Austin Robertson</h3>
                        <p class="d-inline-block pl-3"> - Web developer</p>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <div class="header-title">
                     <h4 class="card-title">About User</h4>
                  </div>
               </div>
               <div class="card-body">
                  <div class="user-bio">
                     <p>Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake wafer.</p>
                  </div>
                  <div class="mt-2">
                  <h6 class="mb-1">Joined:</h6>
                  <p>Feb 15, 2021</p>
                  </div>
                  <div class="mt-2">
                  <h6 class="mb-1">Lives:</h6>
                  <p>United States of America</p>
                  </div>
                  <div class="mt-2">
                  <h6 class="mb-1">Email:</h6>
                  <p><a href="#" class="text-body"> austin@gmail.com</a></p>
                  </div>
                  <div class="mt-2">
                  <h6 class="mb-1">Url:</h6>
                  <p><a href="#" class="text-body" target="_blank"> www.bootstrap.com </a></p>
                  </div>
                  <div class="mt-2">
                  <h6 class="mb-1">Contact:</h6>
                  <p><a href="#" class="text-body">(001) 4544 565 456</a></p>
                  </div>
               </div>
            </div>
         </div> -->
      </div>
    </div>
    <div class="col-lg-3">
       <div class="card">
         <div class="card-header">
            <div class="header-title">
               <h4 class="card-title">About</h4>
            </div>
         </div>
         <div class="card-body">
            <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
            <div class="mb-1">Email: <a href="#" class="ms-3">nikjone@demoo.com</a></div>
            <div class="mb-1">Phone: <a href="#" class="ms-3">001 2351 256 12</a></div>
            <div>Location: <span class="ms-3">USA</span></div>
         </div>
       </div>
       <div class="card">
         <div class="card-header">
            <div class="header-title">
               <h4 class="card-title">Stories</h4>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0 p-0">
               <li class="d-flex mb-4 align-items-center active">
                  <img src="../../assets/images/icons/06.png" alt="story-img" class="rounded-pill avatar-70 p-1 border bg-soft-light img-fluid">
                  <div class="ms-3">
                     <h5>Web Design</h5>
                     <p class="mb-0">1 hour ago</p>
                  </div>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <img src="../../assets/images/icons/03.png" alt="story-img" class="rounded-pill avatar-70 p-1 border img-fluid bg-soft-danger">
                  <div class="ms-3">
                     <h5>App Design</h5>
                     <p class="mb-0">4 hour ago</p>
                  </div>
               </li>
               <li class="d-flex align-items-center">
                  <img src="../../assets/images/icons/07.png" alt="story-img" class="rounded-pill avatar-70 p-1 border bg-soft-primary img-fluid">
                  <div class="ms-3">
                     <h5>Abstract Design</h5>
                     <p class="mb-0">9 hour ago</p>
                  </div>
               </li>
            </ul>
         </div>
       </div>
       <div class="card">
         <div class="card-header">
            <div class="header-title">
               <h4 class="card-title">Suggestions</h4>
            </div>
         </div>
         <div class="card-body">
            <ul class="list-inline m-0 p-0">
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-warning rounded-pill"><img src="../../assets/images/icons/05.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Paul Molive</h6>
                     <p class="mb-0">4 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-danger rounded-pill"><img src="../../assets/images/icons/03.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Robert Fox</h6>
                     <p class="mb-0">4 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-dark rounded-pill"><img src="../../assets/images/icons/06.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Jenny Wilson</h6>
                     <p class="mb-0">6 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-primary rounded-pill"><img src="../../assets/images/icons/07.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Cody Fisher</h6>
                     <p class="mb-0">8 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-info rounded-pill"><img src="../../assets/images/icons/04.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Bessie Cooper</h6>
                     <p class="mb-0">1 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-warning rounded-pill"><img src="../../assets/images/icons/02.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Wade Warren</h6>
                     <p class="mb-0">3 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex mb-4 align-items-center">
                  <div class="img-fluid bg-soft-success rounded-pill"><img src="../../assets/images/icons/01.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Guy Hawkins</h6>
                     <p class="mb-0">12 mutual friends</p>
                  </div>                        
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
               <li class="d-flex align-items-center">
                  <div class="img-fluid bg-soft-info rounded-pill"><img src="../../assets/images/icons/08.png" alt="story-img" class="rounded-pill avatar-40"></div>
                  <div class="ms-3 flex-grow-1">
                     <h6>Floyd Miles</h6>
                     <p class="mb-0">2 mutual friends</p>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-outline-primary rounded-circle btn-icon btn-sm p-2">
                     <span class="btn-inner">
                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    
                           <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                 
                        </svg> 
                     </span>                            
                  </a>
               </li>
            </ul>
         </div>
       </div>
    </div>
</div>
<div class="offcanvas offcanvas-bottom share-offcanvas" tabindex="-1" id="share-btn" aria-labelledby="shareBottomLabel">
   <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body small">
      <div class="d-flex flex-wrap align-items-center">
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/08.png" class="img-fluid rounded mb-2" alt="">
            <h6>Facebook</h6>
         </div>
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/09.png" class="img-fluid rounded mb-2" alt="">
            <h6>Twitter</h6>
         </div>
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/10.png" class="img-fluid rounded mb-2" alt="">
            <h6>Instagram</h6>
         </div>
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/11.png" class="img-fluid rounded mb-2" alt="">
            <h6>Google Plus</h6>
         </div>
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/13.png" class="img-fluid rounded mb-2" alt="">
            <h6>In</h6>
         </div>
         <div class="text-center me-3 mb-3">
            <img src="../../assets/images/brands/12.png" class="img-fluid rounded mb-2" alt="">
            <h6>YouTube</h6>
         </div>
      </div>
   </div>
</div>      </div>
<div class="btn-download">
    <a class="btn btn-danger px-3 py-2" href="https://iqonic.design/product/admin-templates/hope-ui-admin-free-open-source-bootstrap-admin-template/" target="_blank" >
        <svg width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M5.91064 20.5886C5.91064 19.7486 6.59064 19.0686 7.43064 19.0686C8.26064 19.0686 8.94064 19.7486 8.94064 20.5886C8.94064 21.4186 8.26064 22.0986 7.43064 22.0986C6.59064 22.0986 5.91064 21.4186 5.91064 20.5886ZM17.1606 20.5886C17.1606 19.7486 17.8406 19.0686 18.6806 19.0686C19.5106 19.0686 20.1906 19.7486 20.1906 20.5886C20.1906 21.4186 19.5106 22.0986 18.6806 22.0986C17.8406 22.0986 17.1606 21.4186 17.1606 20.5886Z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1907 6.34909C20.8007 6.34909 21.2007 6.55909 21.6007 7.01909C22.0007 7.47909 22.0707 8.13909 21.9807 8.73809L21.0307 15.2981C20.8507 16.5591 19.7707 17.4881 18.5007 17.4881H7.59074C6.26074 17.4881 5.16074 16.4681 5.05074 15.1491L4.13074 4.24809L2.62074 3.98809C2.22074 3.91809 1.94074 3.52809 2.01074 3.12809C2.08074 2.71809 2.47074 2.44809 2.88074 2.50809L5.26574 2.86809C5.60574 2.92909 5.85574 3.20809 5.88574 3.54809L6.07574 5.78809C6.10574 6.10909 6.36574 6.34909 6.68574 6.34909H20.1907ZM14.1307 11.5481H16.9007C17.3207 11.5481 17.6507 11.2081 17.6507 10.7981C17.6507 10.3781 17.3207 10.0481 16.9007 10.0481H14.1307C13.7107 10.0481 13.3807 10.3781 13.3807 10.7981C13.3807 11.2081 13.7107 11.5481 14.1307 11.5481Z" fill="currentColor"></path>
        </svg>
    </a>
</div>

      
      <!-- Footer Section Start -->
<%-include("./includes/footer.ejs")%>
    